.author-small-img {
    margin-top: 2px;
}

button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-control {
    margin-top: 10px;
}

.comment-content {
    margin-left: 6px;
}

.user-comment {
    margin-left: 10px;
    margin-right: 20px;
}