<div class="creat-article-contant text-center">
    <form class="form-horizontal" [formGroup]="formModel" (submit)="onSubmit()" novalidate>

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label col-sm-offset-2">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="title" id="title" placeholder="至少4个字符">
            </div>
            <div class="message col-sm-3">{{isTitleValid}}</div>
        </div>

        <div class="form-group">
            <label for="category" class="col-sm-2 control-label col-sm-offset-2">文章类别：</label>
            <div class="col-sm-5" *ngIf="categories">
                <select id="category" class="form-control" formControlName="category" placeholder="请选择">
                    <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>
            <div class="message col-sm-3">{{formModel.get('category').value}}</div>
        </div>

        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label col-sm-offset-2">文章标签：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="tags" id="tags" placeholder="标签之间用英文逗标间隔">
            </div>
            <div class="message col-sm-3">{{isTagsValid}}</div>
        </div>

        <!--<div class="form-group">-->
            <!--<label for="body" class="col-sm-2 control-label col-sm-offset-2">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容：</label>-->
            <!--<div class="col-sm-5">-->
                <!--<textarea id="body" class="form-control" rows="18" formControlName="body" placeholder="请输入"></textarea>-->
            <!--</div>-->
            <!--<div class="message col-sm-3">{{isBodyValid}}</div>-->
        <!--</div>-->

        <div class="form-group">
            <label for="editorElem" class="col-sm-2 control-label col-sm-offset-2">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容：</label>
            <div class="col-sm-5">
                <div id="editorElem" style="text-align:left"><p>请输入内容</p></div>
            </div>
            <div class="message col-sm-3"></div>
        </div>



        <div class="form-group">
            <label for="closeComment" class="col-sm-2 control-label col-sm-offset-2">是否允许评论：</label>
            <div class="col-sm-5">
                <select id="closeComment" class="form-control" formControlName="closeComment" placeholder="请选择">
                    <option *ngFor="let option of isHidden" [value]="option.value">{{option.label}}</option>
                </select>
            </div>
            <div class="message col-sm-3">{{formModel.get('closeComment').value}}</div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!formModel.valid">提交</button>
    </form>
</div>