.glyphicon, app-stars {
    margin-left: 10px;
    color: #bce8f1;
}
.article-info {
    padding-top: 5px;
    font-size: 13px;
    color: rgb(187, 187, 187);
}

.article-content {

    line-height: 25px;
    font-size: 1.1em;
} 
app-starts{
    display: inline-block;
}