.container {
    height: 800px;
}
.contant{
    margin: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;


}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: #3760a7;
    font-weight: bold; 
    text-decoration: none; 
    margin: 0;
    padding: 0; 
    cursor: auto;
    text-align: center;
    font-size: 25px;
}

span {
    padding: 0 20px;
    text-align: center;
    font-size: 25px;
    color: #555;
}

