<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title text-center">作者：cheyy</h3>
  </div>
  <div class="panel-body text-center">
    <img src="../../../favicon.ico" alt="">
    <div class="row">
      <div class="item">
        <h4>0</h4>
        <p>关注者</p>
      </div>

      <div class="item">
        <h4>1</h4>
        <p>评论</p>
      </div>

      <div class="item">
        <h4>2</h4>
        <p>文章</p>
      </div>
    </div>

    <button type="button" class="btn btn-info btn-block">+关注Ta</button>
    
  </div>
</div>