.btn {
    display: inline-block;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-input {
    margin-top: 20px;
}

.message {
    line-height: 34px;
    color: red;
    text-align: left;
    padding: 0;
}